```java
class swap
{
public static void main()
{
int x=5,y=10,temp;
temp=x;
x=y;
y=temp;
}
}
```

In [2]:
x,y =10,20
x,y =y,x
print(x," ",y)

20   10

In [3]:
x=8

In [5]:
print(x)
print(type(x))

8
<class 'int'>

In [7]:
x=7,5
print(type(x))

<class 'tuple'>

In [9]:
x=4.5
print(type(x))

<class 'float'>

In [11]:
a="abc"
b="abc"
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [13]:
x='''
abc
asd
'''
print(x)

abc
asd

In [15]:
type(True)

bool

In [17]:
type(False)

bool

In [21]:
#single line comment
'''
multi line 
comment
'''
#no

'\nmulti line \ncomment\n'

In [23]:
for i in range(0,5):
        print(i)

0
1
2
3
4

In [26]:
def main():
        print("hi")        

main()

hi

In [29]:
print(__name__)

__main__

In [31]:
list1=[1,2,3,"abc",3.5]
type(list1)

list

In [33]:
len(list1)

5

In [39]:
for e,i in enumerate(list1,10):
        print(e," ",i)

10   1
11   2
12   3
13   abc
14   3.5

In [52]:
a = [1,2,2,2,3,3,4,4,4,5,5,2,1]
print(min(a))
print(max(a))
set(a)

1
5

{1, 2, 3, 4, 5}

In [43]:
{1,2,3,3,3,4,4,21,2}

{1, 2, 3, 4, 21}

In [45]:
d = {
    "name":"john",
    "age":20,
    "country":"india"
}
type(d)

dict

In [47]:
d.values()

dict_values(['john', 20, 'india'])

In [49]:
d.keys()

dict_keys(['name', 'age', 'country'])

In [51]:
for key,value in d.items():
        print("{} is equal to {}".format(key,value))

name is equal to john
age is equal to 20
country is equal to india